# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
glGen
game

# CMake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
/Build/

# Editor specific
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Large Assets (Too big for GitHub)
assets/fbxcamp/
*.blend
*.psd
*.tiff
*.exr