/assets/brutalist-interior/textures/Plane.044_c.png filter=lfs diff=lfs merge=lfs -text
/assets/campingfbx/camping.fbx filter=lfs diff=lfs merge=lfs -text
/assets/campingfbx/textures/table_mountain_2_4k.hdr filter=lfs diff=lfs merge=lfs -text
/assets/desert-eagle-gun/source/Desert_Eagle_skfab_1.zip filter=lfs diff=lfs merge=lfs -text
/assets/desert-eagle-gun/source/Desert_Eagle_skfab_1/Desert_Eagle.fbx filter=lfs diff=lfs merge=lfs -text
/assets/fbxmap/textures/uploads_files_3153392_Blender+2.9++forest.fbx filter=lfs diff=lfs merge=lfs -text
/assets/fbxmap/uploads_files_3153392_Blender+2.9++forest.fbx filter=lfs diff=lfs merge=lfs -text
/assets/hdr/hdr_1/cloudy.hdr filter=lfs diff=lfs merge=lfs -text
/assets/hdr/hdr_1/coolsky.hdr filter=lfs diff=lfs merge=lfs -text
/assets/hdr/hdr_1/nebula.hdr filter=lfs diff=lfs merge=lfs -text
/assets/hdr/hdr_1/sky2.hdr filter=lfs diff=lfs merge=lfs -text
/assets/hdr/hdr_1/test1.hdr filter=lfs diff=lfs merge=lfs -text
/assets/hdr/hdr_1/webb.hdr filter=lfs diff=lfs merge=lfs -text
/assets/hdrs/kloofendal_48d_partly_cloudy_puresky_16k.hdr filter=lfs diff=lfs merge=lfs -text
/assets/materials/m13/Ground037_8K-PNG_AmbientOcclusion.png filter=lfs diff=lfs merge=lfs -text
/assets/materials/m13/Ground037_8K-PNG_Color.png filter=lfs diff=lfs merge=lfs -text
/assets/materials/m13/Ground037_8K-PNG_Displacement.png filter=lfs diff=lfs merge=lfs -text
/assets/materials/m13/Ground037_8K-PNG_NormalDX.png filter=lfs diff=lfs merge=lfs -text
/assets/materials/m13/Ground037_8K-PNG_NormalGL.png filter=lfs diff=lfs merge=lfs -text
/assets/materials/m13/Ground037_8K-PNG_Roughness.png filter=lfs diff=lfs merge=lfs -text
/assets/materials/m14/Ground068_8K-PNG_AmbientOcclusion.png filter=lfs diff=lfs merge=lfs -text
/assets/materials/m14/Ground068_8K-PNG_Color.png filter=lfs diff=lfs merge=lfs -text
/assets/materials/m14/Ground068_8K-PNG_Displacement.png filter=lfs diff=lfs merge=lfs -text
/assets/materials/m14/Ground068_8K-PNG_NormalDX.png filter=lfs diff=lfs merge=lfs -text
/assets/materials/m14/Ground068_8K-PNG_NormalGL.png filter=lfs diff=lfs merge=lfs -text
/assets/materials/m14/Ground068_8K-PNG_Roughness.png filter=lfs diff=lfs merge=lfs -text
/assets/materials/m15/Rock030_8K-PNG_AmbientOcclusion.png filter=lfs diff=lfs merge=lfs -text
/assets/materials/m15/Rock030_8K-PNG_Color.png filter=lfs diff=lfs merge=lfs -text
/assets/materials/m15/Rock030_8K-PNG_Displacement.png filter=lfs diff=lfs merge=lfs -text
/assets/materials/m15/Rock030_8K-PNG_NormalDX.png filter=lfs diff=lfs merge=lfs -text
/assets/materials/m15/Rock030_8K-PNG_NormalGL.png filter=lfs diff=lfs merge=lfs -text
/assets/materials/m15/Rock030_8K-PNG_Roughness.png filter=lfs diff=lfs merge=lfs -text
/assets/materials/m18/desert-cliff1-normal-ogl.png filter=lfs diff=lfs merge=lfs -text
/assets/materials/m19/Rock050_8K-PNG_AmbientOcclusion.png filter=lfs diff=lfs merge=lfs -text
/assets/materials/m19/Rock050_8K-PNG_Color.png filter=lfs diff=lfs merge=lfs -text
/assets/materials/m19/Rock050_8K-PNG_Displacement.png filter=lfs diff=lfs merge=lfs -text
/assets/materials/m19/Rock050_8K-PNG_NormalDX.png filter=lfs diff=lfs merge=lfs -text
/assets/materials/m19/Rock050_8K-PNG_NormalGL.png filter=lfs diff=lfs merge=lfs -text
/assets/materials/m19/Rock050_8K-PNG_Roughness.png filter=lfs diff=lfs merge=lfs -text
/assets/materials/m20/RedRock05_4K_AO.png filter=lfs diff=lfs merge=lfs -text
/assets/materials/m20/RedRock05_4K_BaseColor.png filter=lfs diff=lfs merge=lfs -text
/assets/materials/m20/RedRock05_4K_Height.png filter=lfs diff=lfs merge=lfs -text
/assets/materials/m20/RedRock05_4K_Normal.png filter=lfs diff=lfs merge=lfs -text
/assets/materials/m20/RedRock05_4K_Roughness.png filter=lfs diff=lfs merge=lfs -text
/assets/realistic-pine/source/Pine[[:space:]]OBJ.zip filter=lfs diff=lfs merge=lfs -text
/assets/sherman/ShermanComplete_HullMetal_BaseColor.png filter=lfs diff=lfs merge=lfs -text
/assets/trees/Untitled.fbx filter=lfs diff=lfs merge=lfs -text
/assets/scenes/vk_editor_scene.json filter=lfs diff=lfs merge=lfs -text
/assets/materials/woodland_ground_8k/masters_8k/woodland_bedrock_basecolor.jpg filter=lfs diff=lfs merge=lfs -text
/assets/materials/woodland_ground_8k/masters_8k/woodland_bedrock_height.jpg filter=lfs diff=lfs merge=lfs -text
/assets/materials/woodland_ground_8k/masters_8k/woodland_bedrock_normal.jpg filter=lfs diff=lfs merge=lfs -text
/assets/materials/woodland_ground_8k/masters_8k/woodland_bedrock_roughness.jpg filter=lfs diff=lfs merge=lfs -text
/assets/materials/woodland_ground_8k/masters_8k/woodland_forest_litter_basecolor.jpg filter=lfs diff=lfs merge=lfs -text
/assets/materials/woodland_ground_8k/masters_8k/woodland_forest_litter_height.jpg filter=lfs diff=lfs merge=lfs -text
/assets/materials/woodland_ground_8k/masters_8k/woodland_forest_litter_normal.jpg filter=lfs diff=lfs merge=lfs -text
/assets/materials/woodland_ground_8k/masters_8k/woodland_forest_litter_roughness.jpg filter=lfs diff=lfs merge=lfs -text
/assets/materials/woodland_ground_8k/masters_8k/woodland_gravel_basecolor.jpg filter=lfs diff=lfs merge=lfs -text
/assets/materials/woodland_ground_8k/masters_8k/woodland_gravel_height.jpg filter=lfs diff=lfs merge=lfs -text
/assets/materials/woodland_ground_8k/masters_8k/woodland_gravel_normal.jpg filter=lfs diff=lfs merge=lfs -text
/assets/materials/woodland_ground_8k/masters_8k/woodland_gravel_roughness.jpg filter=lfs diff=lfs merge=lfs -text
/assets/materials/woodland_ground_8k/masters_8k/woodland_moss_basecolor.jpg filter=lfs diff=lfs merge=lfs -text
/assets/materials/woodland_ground_8k/masters_8k/woodland_moss_height.jpg filter=lfs diff=lfs merge=lfs -text
/assets/materials/woodland_ground_8k/masters_8k/woodland_moss_normal.jpg filter=lfs diff=lfs merge=lfs -text
/assets/materials/woodland_ground_8k/masters_8k/woodland_moss_roughness.jpg filter=lfs diff=lfs merge=lfs -text
/assets/materials/woodland_ground_8k/masters_8k/woodland_wet_soil_basecolor.jpg filter=lfs diff=lfs merge=lfs -text
/assets/materials/woodland_ground_8k/masters_8k/woodland_wet_soil_height.jpg filter=lfs diff=lfs merge=lfs -text
/assets/materials/woodland_ground_8k/masters_8k/woodland_wet_soil_normal.jpg filter=lfs diff=lfs merge=lfs -text
/assets/materials/woodland_ground_8k/masters_8k/woodland_wet_soil_roughness.jpg filter=lfs diff=lfs merge=lfs -text
/assets/materials/woodland_scans/brown_mud_leaves_01_diff_4k.jpg filter=lfs diff=lfs merge=lfs -text
/assets/materials/woodland_scans/brown_mud_leaves_01_nor_gl_4k.jpg filter=lfs diff=lfs merge=lfs -text
/assets/materials/woodland_scans/forest_floor_diff_4k.jpg filter=lfs diff=lfs merge=lfs -text
/assets/materials/woodland_scans/forest_floor_nor_gl_4k.jpg filter=lfs diff=lfs merge=lfs -text
/assets/materials/woodland_scans/forest_floor_rough_4k.jpg filter=lfs diff=lfs merge=lfs -text
/assets/materials/woodland_scans/forest_ground_04_diff_4k.jpg filter=lfs diff=lfs merge=lfs -text
/assets/materials/woodland_scans/forest_ground_04_nor_gl_4k.jpg filter=lfs diff=lfs merge=lfs -text
/assets/materials/woodland_scans/rock_face_03_diff_4k.jpg filter=lfs diff=lfs merge=lfs -text
/assets/materials/woodland_scans/rock_face_03_nor_gl_4k.jpg filter=lfs diff=lfs merge=lfs -text
